body {
  margin: 0;
}

.App {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.routes-wrapper {
  width: 100%;
  height: 100%;
  
  &.authorized {
    width: calc(100vw - 78px);
    margin-left: 78px;
    padding: 40px;
  }
}
