body{
  margin: 0;
  font-family: 'Poppins', 'Robotto', serif !important;
}

.App{
  text-align: center;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}